<!DOCTYPE html>
<html>
<head>
    <title>HTM REPORT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/global.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <script type="text/javascript" src="/static/layer/layui.js"></script>

    <style>
        my_img {
            position: absolute;
            top: 50%; /* 垂直居中 */
            left: 50%; /* 水平居中 */
            transform: translate(-50%, -50%); /* 考虑元素本身的宽度和高度 */
        }
    </style>
</head>
<body>
<div class="layui-header header header-docs">
    <div class="layui-main">
        <ul class="layui-nav">
            <li class="layui-nav-item ">
                <a href="/report/1" ,target="_blank">MST测试报告</a>
            </li>
            <li class="layui-nav-item">
                <a href="/report/2" ,target="_blank">IOTest测试报告</a>
            </li>
            <span class="layui-nav-bar"></span>
        </ul>
    </div>
</div>

<div class="layui-container" style="width: 99%">
    <div class="layui-panel site-menu" style="width: 18%; display: inline-block">
        <ul class="layui-menu layui-menu-lg site-docs-menu">
            <li class="layui-menu-item-group" lay-options="{type: 'group', isAllowSpread: true}">
                <div class="layui-menu-body-title">Chip Temperature</div>
                <hr>
                <ul>
                    <li class="layui-menu-item-checked2">
                        <div class="layui-menu-body-title">
                            <a href="/temperature/list">
                                <span>测量数据</span>
                                <span class="layui-font-12 layui-font-gray">Temperature Uploader</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="layui-menu-body-title">
                            <a href="/temperature/overview">
                                <span>数据概述</span>
                                <span class="layui-font-12 layui-font-gray">Data Overview</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="layui-menu-body-title">
                            <a href="/temperature/details">
                                <span>数据详情</span>
                                <span class="layui-font-12 layui-font-gray">Data Details</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="site-content" style="width: 80%; display: inline-block">
        <img src="{{ url_for('static', filename='images/500.jpeg') }}" class="my_img"/>
        <h3>{{ failure_msg }}</h3>
    </div>
</div>
<div class="layui-footer footer footer-demo">
    <p>Copyright &copy; 2024</p>
    <p id="LAY-footer-info"> <span style="color: #007bff"></span></p>
    <p><span></span></p>
</div>
</body>
</html>