<!DOCTYPE html>
<html lang="en">
<head>
    <title>IOTest_Tplt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layer/theme/default/layui.css">
    <link rel="stylesheet" href="/static/layer/theme/default/layer.css">
    <script src="/static/layer/layer.js"></script>
    <script src="/static/layer/layui.js"></script>
</head>
<body>

<div class="layui-btn-group">
    <button type="button" class="layui-btn layui-btn-sm" id="addRowButton" title="Add Row"><i class="layui-icon"></i>
    </button>

    <button type="button" class="layui-btn layui-btn-sm" id="delRowButton" title="Delete selection Rows"><i
            class="layui-icon"></i></button>

    <button type="button" class="layui-btn layui-btn-sm" id="submitTableButton" title="Submit"><i
            class="layui-icon"></i></button>

    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" title="Inherit other projects."
            id="h_extends_template">
        <i class="layui-icon layui-icon-templeate-1"></i>
    </button>
</div>

<span>&nbsp;&nbsp;</span> <span style="float: right"><input type="text" id="new-link" placeholder="A new test module"/></span>
<span class="layui-breadcrumb" lay-separator="|" style="float: right" id="nav-links">
      {% if result_dicts_list is not none and result_dicts_list|length > 0 %}
          {% for result_dict in result_dicts_list %}
              <a href="#" data-module="{{ result_dict.module_name }}"
                 data-id="{{ result_dict.id }}">{{ result_dict.module_name }}</a>
          {% endfor %}
      {% endif %}
</span>

<div>
    <table id="iotest_tplt_table" lay-filter="iotest_tplt_table"></table>
</div>

</body>
<!-- 自定义上下文菜单 -->
<div id="customContextMenu"
     style="display: none; position: absolute; background-color: white; border: 1px solid #ccc; padding: 5px;">
    <ul>
        <li><a href="#" id="renameMenuItem">Modify</a></li>
        <li><a href="#" id="deleteMenuItem">Delete</a></li>
    </ul>
</div>
<script>
    const project_type = "{{ project_type }}";
    let module_type = "{{ module_name }}";
    let moduleId = 0;

    layui.use(['table', 'jquery', 'layer'], function () {
        const table = layui.table;
        const $ = layui.jquery;
        const layer = layui.layer;
        let data = []; // 本地数据数组

        // 初始化表格配置
        const tableConfig = {
            elem: '#iotest_tplt_table',
            cellMinWidth: 200,
            height: 600,
            editTrigger: 'dblclick',
            page: false,
            limit: Infinity,
            response: {
                statusName: 'code',
                statusCode: 200,
                msgName: 'msg',
                dataName: 'data'
            },
            cols: [
                [
                    {type: 'checkbox', fixed: 'left', rowspan: 2},
                    {
                        field: 'pin_no',
                        fixed: 'left',
                        title: 'Pin No.',
                        width: 150,
                        sort: true,
                        edit: 'textarea',
                        rowspan: 2
                    },
                    {field: 'hw_pin', fixed: 'left', title: 'HW Pin', sort: true, edit: 'textarea', rowspan: 2},
                    {field: 'short_name', title: 'Short Name', edit: 'textarea', rowspan: 2},
                    {field: 'io_comment', title: 'COMMENT', edit: 'textarea', rowspan: 2},
                    {field: 'long_name', title: 'Long Name', edit: 'textarea', rowspan: 2},
                    {field: 'information_hints', title: 'Information Hints', edit: 'textarea', rowspan: 2},
                    {field: 'device_encapsulation', title: 'Device Encapsulation', edit: 'textarea', rowspan: 2},
                    {title: 'Level1 Simple electrical test', colspan: 5, align: 'center'},
                    {title: 'Level2 Error detection', colspan: 4, align: 'center'},
                    {title: 'Level3 Error debouncing and error healing', colspan: 4, align: 'center'},
                    {title: 'Level4 Substitute value reaction test', colspan: 4, align: 'center'}
                ],
                [

                    {field: 'checked_values', title: 'Checked Values', edit: 'textarea'},
                    {field: 'preparation_1', title: 'preparation.1', edit: 'textarea'},
                    {field: 'stimulation_1', title: 'stimulation.1', edit: 'textarea'},
                    {field: 'tester', title: 'Tester', edit: 'textarea'},
                    {field: 'measurements_1', title: 'measurements.1', edit: 'textarea'},

                    {field: 'checked_errors', title: 'Checked Errors', edit: 'textarea'},
                    {field: 'preparation_2', title: 'preparation.2', edit: 'textarea'},
                    {field: 'stimulation_2', title: 'stimulation.2', edit: 'textarea'},
                    {field: 'measurements_2', title: 'measurements.2', edit: 'textarea'},

                    {field: 'debouncing_healing', title: 'debouncing_healing', edit: 'textarea'},
                    {field: 'preparation_3', title: 'preparation.3', edit: 'textarea'},
                    {field: 'stimulation_3', title: 'stimulation.3', edit: 'textarea'},
                    {field: 'measurements_3', title: 'measurements.3', edit: 'textarea'},

                    {field: 'error_substitute', title: 'error substitute', edit: 'textarea'},
                    {field: 'preparation_4', title: 'preparation.4', edit: 'textarea'},
                    {field: 'stimulation_4', title: 'stimulation.4', edit: 'textarea'},
                    {field: 'measurements_4', title: 'measurements.4', edit: 'textarea'}
                ]],
            data: data
        };

        // 初始化表格实例
        const tableIns = table.render(tableConfig);

        // 加载初始数据
        function loadInitialData() {
            $.ajax({
                url: '/report/iotest/tplt/page/data?project_type=' + project_type + '&module_type=' + module_type,
                method: 'GET',
                success: (res) => {
                    if (res.code === 200) {
                        updateTableData(res.data);
                    } else {
                        layer.msg(`Failed to fetch data: ${res.msg}`, {icon: 5});
                    }
                },
                error: (err) => {
                    layer.msg('An error occurred while fetching data.', {icon: 5});
                }
            });
        }

        // 行单击事件
        table.on('row(iotest_tplt_table)', function (obj) {
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });

        // 单元格编辑后的事件
        table.on('edit(iotest_tplt_table)', function (obj) {
            const data = obj.data;
            const field = obj.field;
            const value = obj.value;
            const dataId = data.id

            const jsonData = JSON.stringify({id: dataId, field: field, value: value});
            $.ajax({
                url: '/report/iotest/tplt/page/update',
                type: 'POST',
                contentType: 'application/json',
                data: jsonData,
                success: function (response) {
                    if (response.success) {
                        layer.msg('Update successful.');
                    } else {
                        layer.msg('Update failed: ' + response.message);
                    }
                },
                error: function (xhr, status, error) { // 请求失败时的回调函数
                    layer.msg('Request error: ' + error);
                }
            });

        });

        // 更新表格数据
        function updateTableData(newData) {
            // 为每条数据添加一个唯一的临时ID
            newData = newData.map((item, index) => ({
                ...item,
                _tempId: `tempId_${index}` // 使用索引创建临时ID
            }));

            data = newData; // 更新本地数据数组
            reloadTable();
        }

        // 重新加载表格
        function reloadTable() {
            tableIns.reload({data: data});
        }

        // 添加行
        function addRow() {
            const newRowData = Object.fromEntries(
                tableConfig.cols[0].map(col => [col.field, ''])
            );
            data.push(newRowData);
            reloadTable();
        }

        // 删除选中行
        function deleteSelectedRows() {
            const checkStatus = table.checkStatus('iotest_tplt_table'); // 获取选中的行
            const selectedRows = checkStatus.data;

            if (selectedRows.length === 0) {
                layer.msg('Please select at least one row to delete.', {icon: 5});
                return;
            }

            // 确认对话框
            layer.confirm('Are you sure you want to delete the selected rows?', {
                icon: 3,
                title: 'Confirmation'
            }, function (index) {
                // 显示加载层
                const loadingIndex = layer.load(2);
                const ids = checkStatus.data.map(row => row.id || null);

                // 发送POST请求以提交要删除的数据
                $.ajax({
                    url: '/report/iotest/tplt/page/del', // 后端删除接口
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ids: ids}), // 将选中的行数据转换为JSON格式
                    success: function (response) {
                        layer.close(loadingIndex); // 关闭加载层

                        if (response.success) {
                            // 从本地数据中移除所有被选中的行
                            data = data.filter(row => !selectedRows.some(selectedRow => selectedRow._tempId === row._tempId));

                            reloadTable(); // 重新加载表格
                            layer.msg('Rows deleted successfully.', {icon: 1});
                        } else {
                            layer.msg(`Failed to delete data: ${response.message}`, {icon: 5});
                        }
                    },
                    error: function (xhr, status, error) {
                        layer.close(loadingIndex); // 关闭加载层
                        layer.msg(`An error occurred while deleting data: ${error}`, {icon: 5});
                    }
                });
                layer.close(index); // 关闭确认框
            });
        }

        // 提交表格数据
        function submitTableData() {
            // 获取表格中的所有数据（包括新增和修改的数据）
            const tableData = data.map(row => {
                // 移除临时ID和其他不需要提交到服务器的字段
                const {_tempId, ...rest} = row;
                return rest;
            });

            if (tableData.length === 0) {
                layer.msg('The table is empty. Nothing to submit.', {icon: 5});
                return;
            }

            // 显示加载层
            const loadingIndex = layer.load(2);

            // 发送POST请求以提交数据
            $.ajax({
                url: '/report/iotest/tplt/page/submit?project_type=' + project_type + '&module_name=' + module_type,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({data: tableData}), // 将数据转换为JSON格式
                success: function (response) {
                    layer.close(loadingIndex); // 关闭加载层

                    if (response.success) {
                        layer.msg('Data submitted successfully.', {icon: 1});
                        // 页面刷新
                        window.location.reload();
                    } else {
                        layer.msg(`Failed to submit data: ${response.message}`, {icon: 5});
                    }
                },
                error: function (xhr, status, error) {
                    layer.close(loadingIndex); // 关闭加载层
                    layer.msg(`An error occurred while submitting data: ${error}`, {icon: 5});
                }
            });
        }

        // 绑定按钮点击事件
        $('#addRowButton').on('click', addRow);
        $('#delRowButton').on('click', deleteSelectedRows);
        $('#submitTableButton').on('click', submitTableData);

        // 暴露 loadInitialData 到父窗口作用域
        // window.loadInitialData = loadInitialData;


        // 确保 DOM 完全加载后执行
        $(function () {
            // 检查 Layui 是否加载
            if (typeof layer === 'undefined') {
                alert('Layui layer module is not loaded.');
                return;
            }

            // 页面加载时初始化数据
            loadInitialData();

            // -------------------------------------------------------------测试模块添加、查询 -----------------------------------
            const inputElement = $('#new-link');
            const navLinks = $('#nav-links');

            function handleNewLink(event) {
                if (event.key === 'Enter') {
                    const newValue = $.trim(inputElement.val());
                    if (newValue) {
                        const newA = $(`<a href="#" data-module="${newValue}" data-id="${Date.now()}">${newValue}</a>`);
                        // 使用事件委托处理点击事件
                        newA.on('click', handleClick);

                        // 添加分隔符并插入新的链接
                        if (navLinks.children().length > 0) {
                            $('<span> | </span>').appendTo(navLinks);
                        }
                        newA.appendTo(navLinks);

                        inputElement.val('');
                        event.preventDefault();

                        const jsonData = {"project_type": project_type, "module_name": newValue};
                        $.ajax({
                            url: '/report/save/pro_module',
                            type: 'POST',
                            dataType: 'json',
                            data: JSON.stringify(jsonData),
                            contentType: 'application/json; charset=utf-8',
                            success: function (response) {
                                if (response.success) {
                                    layer.msg("Save successful...", {icon: 6});
                                    moduleId = response.recordId;
                                } else {
                                    layer.msg(response.message, {icon: 5});
                                }
                            },
                            error: function (error) {
                                layer.msg('Save error: ' + error, {icon: 5});
                            }
                        });
                    }
                }
            }

            function handleClick(event) {
                const moduleName = $(this).data('module');
                moduleId = $(this).data('id');
                module_type = moduleName;
                loadInitialData();
            }

            // 监听输入框的按键事件
            inputElement.on('keydown', handleNewLink);

            // 为已存在的链接绑定点击事件
            navLinks.on('click', 'a[data-module]', handleClick);

            // 绑定打开模板 iframe 的按钮
            $('#h_extends_template').on('click', function () {
                openTemplateIframe('/report/iotest_report_inherit?project_type=' + encodeURIComponent(project_type));
            });

            // -------------------------------------------------------------选择所有 #nav-links 下的 <a> 标签并绑定右键点击事件 -----------------------------------
            $('#nav-links a').on('contextmenu', function (event) {
                event.preventDefault(); // 阻止默认的右键菜单行为

                const currentLinkId = $(this).data('id');
                $('#customContextMenu').data('currentLinkId', currentLinkId);

                // 设置自定义菜单的位置
                const menu = $('#customContextMenu');
                menu.css({
                    left: event.pageX + 'px',
                    top: event.pageY + 'px'
                });

                // 显示自定义菜单
                menu.show();

                // 确保其他地方点击会隐藏菜单
                $(document).one('click', function () {
                    menu.hide();
                });
            });

            // 监听修改名称菜单项的点击
            $('#renameMenuItem').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation(); // 防止触发文档点击事件隐藏菜单

                const currentLinkId = $('#customContextMenu').data('currentLinkId');
                const link = $(`#nav-links a[data-id="${currentLinkId}"]`);
                const moduleName = link.data('module');

                // 弹出输入框让用户修改名称
                const newModuleName = prompt('Please enter a new module name:', moduleName);
                if (newModuleName !== null && newModuleName.trim() !== '') {
                    // 更新 <a> 元素的文本和 data-module 属性
                    link.text(newModuleName).data('module', newModuleName);
                    executeUpdate(link)
                }
                // 隐藏自定义菜单
                $('#customContextMenu').hide();
            });

            // 监听删除菜单项的点击
            $('#deleteMenuItem').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation(); // 防止触发文档点击事件隐藏菜单

                const currentLinkId = $('#customContextMenu').data('currentLinkId');
                const link = $(`#nav-links a[data-id="${currentLinkId}"]`);

                // 确认用户是否真的想要删除
                if (confirm('Delete Module Name and Pin?')) {
                    // 执行删除操作
                    executeDelete(link);
                }

                // 隐藏自定义菜单
                $('#customContextMenu').hide();
            });

            // 打开模板 iframe 的函数
            function openTemplateIframe(url) {
                if (typeof layer === 'undefined') {
                    layer.msg('Layui layer module is not loaded.', {icon: 2});
                    return false;
                }
                if (project_type == '') {
                    layer.msg('Please Select the project name of the current project.', {icon: 2});
                    return false;
                }
                layer.open({
                    type: 2,
                    title: "Inherit the parent project.",
                    area: ['700px', '450px'],
                    fixed: false,
                    maxmin: true,
                    content: url
                });
            }

            // 执行删除操作的函数
            function executeDelete(link) {
                const moduleId = link.data('id');
                const moduleName = link.data('module');

                // 使用 fetch API 发送 DELETE 请求到服务器
                fetch('/report/iotest/del/pro_module', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        project_type: project_type,
                        id: moduleId,
                        module_name: moduleName
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            layer.msg('Delete successfully.', {icon: 1});
                            // 如果删除成功，移除对应的 <a> 元素及其前后的分隔符
                            link.closest('span').prev('span.separator').addBack().remove();
                            window.location.reload();
                        } else {
                            layer.alert('An error occurred during the deletion process: ' + data.message, {icon: 2});
                        }
                    })
                    .catch((error) => {
                        layer.alert('An error occurred during the deletion process: ' + error, {icon: 2});
                    });
            }

            // 执行修改操作的函数
            function executeUpdate(link) {
                const moduleId = link.data('id');
                const moduleName = link.data('module');

                fetch('/report/iotest/modify/pro_module', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        project_type: project_type,
                        moduleId: moduleId,
                        module_name: moduleName
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            layer.msg('Modify successfully.', {icon: 1});

                            module_type = moduleName;
                            loadInitialData();
                        } else {
                            layer.alert('An error occurred during the modification process: ' + data.message, {icon: 2});
                        }
                    })
                    .catch((error) => {
                        layer.alert('An error occurred during the modification process: ' + error, {icon: 2});
                    });
            }
        });
    });
</script>
<style>
    .layui-table-click {
        background-color: #0099CC !important; /* 浅蓝色背景 */
        border: 2px solid #696A6AFF !important; /* 蓝色边框 */
    }
</style>
</html>