<!DOCTYPE html>
<html>
<head>
    <title>HTM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/global.css">
    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <script type="text/javascript" src="/static/layer/layui.js"></script>
</head>
<body>
<div class="layui-header header header-docs">
    <div class="layui-main">
        <ul class="layui-nav">
            <li class="layui-nav-item ">
                <a href="/report/1" ,target="_blank">MST</a>
            </li>
            <li class="layui-nav-item">
                <a href="/report/2" ,target="_blank">IOTes</a>
            </li>
            <span class="layui-nav-bar"></span>
        </ul>
    </div>
</div>
<div class="layui-container" style="width: 99%">
    <div class="layui-panel site-menu" style="width: 18%; display: inline-block">
        <ul class="layui-menu layui-menu-lg site-docs-menu">
            <li class="layui-menu-item-group" lay-options="{type: 'group', isAllowSpread: true}">
                <div class="layui-menu-body-title">Chip Temperature</div>
                <hr>
                <ul>
                    <li>
                        <div>
                            <a href="/temperature/index">
                                <span>数据采集</span>
                                <span class="layui-font-12 layui-font-gray">Temperature Uploader</span>
                            </a>
                        </div>
                    </li>
                    <li class="layui-menu-item-checked2">
                        <div class="layui-menu-body-title">
                            <a href="/temperature/list">
                                <span>数据分析</span>
                                <span class="layui-font-12 layui-font-gray">Data Analytics</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="layui-menu-body-title">
                            <a href="/temperature/overview">
                                <span>数据概述</span>
                                <span class="layui-font-12 layui-font-gray">Data Overview</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="layui-menu-body-title">
                            <a href="/temperature/details">
                                <span>数据详情</span>
                                <span class="layui-font-12 layui-font-gray">Data Details</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="site-content" style="width: 80%; display: inline-block">
        <form id="searchForm">
            <div class="layui-inline">
                <label class="layui-form-label">OEM:</label>
                <div class="layui-input-block">
                    <input type="text" name="oem" placeholder="Please Input OEM" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" id="searchBtn">Search</button>
            </div>
        </form>
        <table class="layui-hide" id="measurement_file_db" lay-filter="measurement_file_db"></table>
    </div>
</div>
<div class="layui-footer footer footer-demo">
    <p>Copyright &copy; 2024</p>
    <p id="LAY-footer-info"><span style="color: #007bff"></span></p>
    <p><span></span></p>
</div>
</body>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>


<script type="text/html" id="fileListBtn">
    <a class="layui-btn layui-btn-radius layui-btn-xs" lay-event="edit">EDIT</a>
    <a class="layui-btn layui-btn-radius layui-btn-danger layui-btn-xs" lay-event="delete">DELETE</a>
    <a class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs" lay-event="analysis">ANALYSIS</a>
</script>

<script>
    layui.use(['table', 'layer'], function () {
        const table = layui.table;
        const layer = layui.layer;
        // 表格渲染
        table.render({
            elem: '#measurement_file_db',
            url: '/temperature/list/page',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: 'HELP'
                , layEvent: 'LAYTABLE_TIPS'
            }],
            page: true,
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            response: {
                statusName: 'code',
                statusCode: 200,
                msgName: 'msg',
                countName: 'total',
                dataName: 'data'
            },
            cols: [[
                {fixed: 'left', field: 'id', width: 150, title: 'File Number', sort: true},
                {
                    field: 'file_name',
                    width: 300,
                    title: 'File Name',
                    sort: true,
                    event: 'set_emaphore_componentName',
                    style: 'cursor: pointer;color:blue'
                },
                {field: 'oem', width: 300, title: 'OEM'},
                {field: 'project_name', width: 300, title: 'Project Name', sort: true},
                {field: 'fuel_type', width: 300, title: 'Fuel Type', sort: true},
                {field: 'ecu_hw', width: 300, title: 'ECU HW'},
                {field: 'vehicle_model', width: 300, title: 'Vehicle(Model,...)'},
                {field: 'vehicle_number', width: 300, title: 'Vehicle identification number'},
                {field: 'sap_number', width: 150, title: 'SAP Number'},
                {field: 'software', width: 150, title: 'Software'},
                {field: 'create_time', width: 200, title: 'Create Time', sort: true},
                {field: 'quantitative_variable', width: 200, title: 'Quantitative variable', sort: true},
                {field: 'statistical_variable', width: 200, title: 'Statistical variable', sort: true},
                {fixed: 'right', width: 250, title: 'Operation', toolbar: '#fileListBtn'}
            ]]
        });

        // 单元格工具事件
        table.on('tool(measurement_file_db)', function (obj) {
            const data = obj.data;
            const layEvent = obj.event;

            const j_measurement_file_name = data.file_name
            const j_measurement_file_id = data.id

            if (layEvent === 'edit') {
                layer.open({
                    type: 2,
                    title: 'Quantitative Variable: (' + j_measurement_file_name + ')',
                    shadeClose: false,
                    shade: 0,
                    anim: 5,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['893px', '600px'],
                    content: '/temperature/quantitative/page?file_id=' + j_measurement_file_id,
                    success: function (layero, index) {

                    },
                    end: function () {

                    }
                });
            } else if (layEvent === 'delete') {
                handleDelete(data.id, obj);
            } else if (layEvent === 'set_emaphore_componentName') {
                layer.open({
                    type: 2,
                    title: 'Acquired semaphore: (' + j_measurement_file_name + ')',
                    shadeClose: false,
                    shade: 0,
                    anim: 5,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['893px', '600px'],
                    content: '/temperature/configuration/list?file_id=' + j_measurement_file_id,
                    success: function (layero, index) {

                    },
                    end: function () {

                    }
                });
            }
        });

        // 删除文件
        function handleDelete(id, obj) {
            layer.confirm('Are you sure you want to delete it?', function (index) {
                fetch('/temperature/delete_file', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({id})
                }).then(response => response.json())
                    .then(responseData => {
                        if (responseData.success) {
                            location.reload();
                        } else {
                            layer.alert('Failed to delete file: ' + responseData.message, {icon: 5});
                        }
                    })
                    .catch(error => {
                        layer.alert('An error occurred, please try again: ' + error.message, {icon: 5});
                    })
                    .finally(() => {
                        layer.close(index);
                        obj.del();
                    });
            });
        }

        // 绑定按钮点击事件
        document.getElementById('searchBtn').addEventListener('click', function () {
            const oemValue = document.querySelector('input[name="oem"]').value; // 获取表单中的 oem 值
            table.reload('measurement_file_db', {
                where: {
                    oem: oemValue // 这里传递特定的查询条件
                }
                , page: {
                    curr: 1 // 重新从第一页开始
                }
            });
        });
    });
</script>
</html>