<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>Entire project label configuration</title>

    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/webuploader.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>
    <script type="text/javascript" src="/static/layer/layui.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="layui-btn-group">
    <button type="button" class="layui-btn layui-btn-sm" id="getMeasurementVariables"
            title="Acquire measurement variables">
        <i class="layui-icon"></i>GET
    </button>

    <button type="button" class="layui-btn layui-btn-sm" id="addRowButton" title="Add Row">
        <i class="layui-icon"></i>
    </button>

    <button type="button" class="layui-btn layui-btn-sm" id="delRowButton" title="Delete selection Rows">
        <i class="layui-icon"></i>
    </button>

    <button type="button" class="layui-btn layui-btn-sm" id="submitTableButton" title="Submit">
        <i class="layui-icon"></i>
    </button>
</div>
<table id="measured_variable_table">
    <thead>
    <tr>
        <th style="text-align: left;"><input type="checkbox" id="selectAllCheckbox"></th>
        <th>label_name</th>
        <th>label_alias_name</th>
        <th>chip_name</th>
        <th>max_allowed_value</th>
        <!--<th>view_variable</th>-->
    </tr>
    </thead>
    <tbody>
    <!-- 初始数据 -->

    {% if chip_dict_list is not none and chip_dict_list|length > 0 %}
        {% for electronic_component in chip_dict_list %}
            <tr>
                <td><input type="checkbox" value="{{ electronic_component.id }}"></td>
                <td contenteditable="true">{{ electronic_component.label_name }}</td>
                <td contenteditable="true">{{ electronic_component.label_alias_name }}</td>
                <td contenteditable="true">{{ electronic_component.chip_name }}</td>
                <td contenteditable="true">{{ electronic_component.max_allowed_value }}</td>
                <!--<td contenteditable="true"></td>-->
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
<input type="hidden" id="h_oem_hidden" value="{{ s_oem }}">
<input type="hidden" id="h_file_id" value="{{ page_measured_file_id }}">
</body>
<script type="text/javascript">
    function initializeButton() {
        const fileIdInput = document.getElementById('h_file_id');
        const page_measured_file_id = fileIdInput.value;

        const button = document.getElementById('getMeasurementVariables');
        if (page_measured_file_id != "") {
            button.style.display = 'none';
        }
    }

    document.addEventListener("DOMContentLoaded", initializeButton);
</script>
<script>
    function createCell(textContent = '', contentEditable = false) {
        const cell = document.createElement('td');
        cell.textContent = textContent;
        if (contentEditable) cell.contentEditable = 'true';
        return cell;
    }

    function createRow(column = '') {
        const newRow = document.createElement('tr');

        const checkboxCell = createCell();
        const checkboxInput = document.createElement('input');
        checkboxInput.type = 'checkbox';
        checkboxInput.value = '';
        checkboxCell.appendChild(checkboxInput);

        const labelNameCell = createCell(column, true);
        const labelAliasNameCell = createCell('', true);
        const chipNameCell = createCell('', true);
        const maxValueCell = createCell('', true);

        newRow.appendChild(checkboxCell);
        newRow.appendChild(labelNameCell);
        newRow.appendChild(labelAliasNameCell);
        newRow.appendChild(chipNameCell);
        newRow.appendChild(maxValueCell);

        return newRow;
    }

    // 全选/全不选
    document.getElementById('selectAllCheckbox').addEventListener('change', function () {
        const checkboxes = document.querySelectorAll('#measured_variable_table tbody input[type="checkbox"]');

        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    // 添加行的函数
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addRowButton').addEventListener('click', function () {
            const tbody = document.querySelector('#measured_variable_table tbody');
            const newRow = createRow();
            tbody.appendChild(newRow);
        });
    });

    // 删除行的函数
    // 获取需要多次使用的DOM元素
    const tbody = document.querySelector('#measured_variable_table tbody');
    const selectAllCheckbox = document.getElementById('selectAllCheckbox');
    // 删除功能
    document.getElementById('delRowButton').addEventListener('click', async function () {
        layer.confirm('Are you sure you want to delete ?', async function (index) {
            const checkedRows = Array.from(tbody.querySelectorAll('input[type="checkbox"]:checked'));

            if (checkedRows.length === 0) {
                layer.alert('Please select the row to delete!', {icon: 3});
                return false;
            }

            // 收集需要删除的数据
            const removedValues = checkedRows
                .filter(checkbox => checkbox.value !== '')
                .map(checkbox => checkbox.value);

            // 删除选中的行
            const rowsToDelete = checkedRows.map(checkbox => checkbox.closest('tr'));
            rowsToDelete.forEach(row => tbody.removeChild(row));

            if (removedValues.length > 0) {
                // 发送删除请求
                try {
                    const response = await fetch('/temperature/configuration/del', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({deleteIds: removedValues})
                    });

                    const result = response.json();
                    if (response.ok) {
                        layer.alert('Delete successfully!', {icon: 1});
                    } else {
                        layer.alert("Delete failed", {icon: 2});
                    }
                } catch (error) {
                    layer.alert('Request error, please try again.' + error, {icon: 5});
                }
            }
            // 取消全选状态
            if (selectAllCheckbox.checked) {
                selectAllCheckbox.checked = false;
            }
            // 关闭 confirm 确认框
            layer.close(index);
        });
    });

    // 提交表格数据的函数
    document.getElementById('submitTableButton').addEventListener('click', function () {
        const tbody = document.querySelector('#measured_variable_table tbody');
        const rows = tbody.querySelectorAll('tr');
        const data = [];

        rows.forEach(function (row) {
            const cells = row.querySelectorAll('td');
            const rowData = {
                label_name: cells[1].textContent.trim(),
                label_alias_name: cells[2].textContent.trim(),
                chip_name: cells[3].textContent.trim(),
                max_allowed_value: cells[4].textContent.trim()
            };
            data.push(rowData);
        });
        const j_oem_hidden = $("#h_oem_hidden").val();

        const measured_file_id = $("#h_file_id").val();
        var fetch_url = '/temperature/configuration/add';
        if (measured_file_id != "") {
            fetch_url = fetch_url + '?measured_file_id=' + encodeURIComponent(measured_file_id);
        } else {
            fetch_url = fetch_url + '?OEM=' + encodeURIComponent(j_oem_hidden);
        }

        // 发送 AJAX 请求
        fetch(fetch_url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(result => {
                if (result.success) {
                    layer.alert('Data submitted successfully! ', {icon: 1});
                } else {
                    layer.alert('Data submission failed: ' + result.message, {icon: 2});
                }
            })
            .catch(error => {
                layer.alert('The request failed. Please try again.' + error, {icon: 5});
            });
    });

    // 获取测量量
    // document.getElementById('getMeasurementVariables').addEventListener('click', function () {
    layui.use(['upload', 'layer'], function () {
        const $ = layui.jquery
            , upload = layui.upload
            , layer = layui.layer;
        upload.render({
            elem: '#getMeasurementVariables'
            , url: '/temperature/configuration/get'
            , accept: 'file'
            , exts: 'dat|mf4'
            , size: 200 * 1024 * 1024 //限制文件大小，单位 KB
            , done: function (res) {
                if (res.success) {
                    const tbody = document.querySelector('#measured_variable_table tbody');
                    res.columns.forEach(column => {
                        const newRow = createRow(column);
                        tbody.appendChild(newRow);
                    });
                } else {
                    layer.msg(res.message);
                }
            }
            , error: function (index, upload) {
                layer.msg('error');
            }
        });
    })
    // });
</script>
</html>