<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>Configuration</title>

    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/layer/theme/default/layui.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/layer/layer.js"></script>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<input type="hidden" id="h_oem_hidden" value="{{ s_oem }}">
<div class="layui-btn-group">
    <button type="button" class="layui-btn layui-btn-sm" id="addRowButton" title="Add Row"><i class="layui-icon"></i>
    </button>
    <button type="button" class="layui-btn layui-btn-sm" id="delRowButton" title="Delete Row"><i
            class="layui-icon"></i></button>
    <button type="button" class="layui-btn layui-btn-sm" id="submitTableButton" title="Submit"><i
            class="layui-icon"></i></button>
</div>
<table id="measured_variable_table">
    <thead>
    <tr>
        <th></th>
        <th>measured_variable</th>
        <th>chip_name</th>
        <th>max_allowed_value</th>
        <!--<th>view_variable</th>-->
    </tr>
    </thead>
    <tbody>
    <!-- 初始数据 -->

    {% if chip_dict_list is not none and chip_dict_list|length > 0 %}
        {% for electronic_component in chip_dict_list %}
            <tr>
                <td><input type="checkbox" value="{{ electronic_component.id }}"></td>
                <td contenteditable="true">{{ electronic_component.measured_variable }}</td>
                <td contenteditable="true">{{ electronic_component.chip_name }}</td>
                <td contenteditable="true">{{ electronic_component.max_allowed_value }}</td>
                <!--<td contenteditable="true"></td>-->
            </tr>
        {% endfor %}
    {% elif chip_dict_list is none or chip_dict_list|length == 0 %}
        <tr>
            <td><input type="checkbox" value=""></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <!--<td contenteditable="true"></td>-->
        </tr>
    {% endif %}
    </tbody>
</table>
<script>
    // 添加行的函数
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addRowButton').addEventListener('click', function () {
            // 获取表格的 tbody 元素
            const tbody = document.querySelector('#measured_variable_table tbody');

            // 创建新行
            const newRow = document.createElement('tr');

            // 创建单元格
            const checkboxCell = document.createElement('td');
            const checkboxInput = document.createElement('input');
            checkboxInput.type = 'checkbox';
            checkboxInput.value = ""
            checkboxCell.appendChild(checkboxInput);

            const variableCell = document.createElement('td');
            variableCell.textContent = '';
            variableCell.contentEditable = 'true';

            const chipNameCell = document.createElement('td');
            chipNameCell.textContent = '';
            chipNameCell.contentEditable = 'true';

            const maxValueCell = document.createElement('td');
            maxValueCell.textContent = '';
            maxValueCell.contentEditable = 'true';

            // const viewVariableCell = document.createElement('td');
            // viewVariableCell.textContent = '';
            // viewVariableCell.contentEditable = 'true';

            // 将单元格添加到新行
            newRow.appendChild(checkboxCell);
            newRow.appendChild(variableCell);
            newRow.appendChild(chipNameCell);
            newRow.appendChild(maxValueCell);
            // newRow.appendChild(viewVariableCell);

            // 将新行添加到 tbody
            tbody.appendChild(newRow);
        });
    });

    // 删除行的函数
    document.getElementById('delRowButton').addEventListener('click', async function () {
        const tbody = document.querySelector('#measured_variable_table tbody');
        const checkedRows = tbody.querySelectorAll('input[type="checkbox"]:checked');

        // 创建一个数组来存储行数据
        let removedValues = [];
        checkedRows.forEach(function (checkbox) {
            const row = checkbox.closest('tr');

            // 收集复选框的value值
            removedValues.push(checkbox.value);

            tbody.removeChild(row);
        });

        // 如果没有选中的行，直接返回
        if (removedValues.length === 0) {
            layer.alert('Please select the row to delete!', {icon: 3});
            return false;
        }

        // 调用后台接口删除数据
        try {
            const response = await fetch('/temperature/configuration/del', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"deleteIds": removedValues})
            });

            const result = await response.json();

            if (response.ok) {
                layer.alert('Delete successfully!', {icon: 1});
            } else {
                layer.alert(`Delete failed：${result.message}`, {icon: 2});
            }
        } catch (error) {
            layer.alert('Request error, please try again.' + error, {icon: 5});
        }
    });

    // 提交表格数据的函数
    document.getElementById('submitTableButton').addEventListener('click', function () {
        const tbody = document.querySelector('#measured_variable_table tbody');
        const rows = tbody.querySelectorAll('tr');
        const data = [];

        rows.forEach(function (row) {
            const cells = row.querySelectorAll('td');
            const rowData = {
                measured_variable: cells[1].textContent.trim(),
                chip_name: cells[2].textContent.trim(),
                max_allowed_value: cells[3].textContent.trim()
                //,view_variable: cells[4].textContent.trim()
            };
            data.push(rowData);
        });
        const j_oem_hidden = $("#h_oem_hidden").val();
        // 发送 AJAX 请求
        fetch('/temperature/configuration/add?OEM=' + encodeURIComponent(j_oem_hidden), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(result => {
                if (result.success) {
                    layer.alert('数据提交成功！', {icon: 1});
                } else {
                    layer.alert('数据提交失败：' + result.message, {icon: 2});
                }
            })
            .catch(error => {
                console.error('请求失败:',);
                layer.alert('请求失败，请重试:' + error, {icon: 5});
            });
    });
</script>
</body>
</html>