<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" type="text/css"/>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


</head>
<body height="100%">

<select id="example-multiple-optgroups" multiple="multiple" class="bg-warning" tabindex="-1">
    <optgroup label="Group 1">
        <option value="1-1">Option 1.1</option>
        <option value="1-2">Option 1.2</option>
        <option value="1-3">Option 1.3Option 1.3Option 1.3Option 1.3Option 1.3Option 1.3</option>
        <option value="1-4">Option 1.4</option>
        <option value="1-5">Option 1.5</option>
        <option value="1-6">Option 1.6</option>
    </optgroup>
</select>
<div class="chart_container">
    <div class="chart" id="chip_temperature09"></div>
</div>

</body>
<script type="text/javascript" src="/static/js/biz/file_list_multi_select.js?v=2"></script>
<script type="text/javascript" src="/static/js/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/biz/chip09_temperature.js?v=1"></script>
</html>